.emo-agent {
    display: flex;
    flex-direction: column;
    margin: 0 140px 200px;
    background: #F2F2F2;
}

.header-btn {
    margin-right: 32px;
}

a {
    color: blue;
    text-decoration: none;
    /* no underline */
}